@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

:root {
  --box_shadow: #064a85 -9px 7px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #0d1b2a;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.reveal {
  transform: translateY(100px);
  opacity: 0;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  background-color: #0d1b2a;
  z-index: 2;
  transition: all 0.3s ease;
}

.navbar.shrink {
  padding: 10px;
}

.logo.shrink > img {
  width: 40px;
}

.logo.shrink {
  font-size: 15px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 25px;
  color: #e0e1dd;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.3s ease;
}

.logo img {
  border-radius: 50%;
  width: 55px;
  margin-right: 15px;
}
.links-container {
  display: flex;
}
.link,
.contact {
  padding: 10px;
  list-style-type: none;
  transition: all 0.3s;
}
.link a,
.contact a {
  text-decoration: none;
  color: #e0e1dd;
  font-size: larger;
  font-weight: bold;
  padding: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: 0.3s ease-in-out;
}

.contact {
  background-color: purple;
  border-radius: 18px;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.contact:hover {
  box-shadow: var(--box_shadow);
}

.link::before {
  content: "";
  position: absolute;
  bottom: 22px;
  /* right: 0; */
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.link a:hover {
  color: #415a77;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::before {
    /* left: 0; */
    right: auto;
    width: 5rem;
  }

  .link:nth-child(3):hover::before {
    right: auto;
    width: 6rem;
  }

  .link:nth-child(4):hover::before {
    width: 4rem;
  }
}

/* Hamburger menu */
.ham {
  display: none;
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ham.shrink {
  width: 30px;
  height: 25px;
}

.line2.shrink {
  top: 10px;
}
.line {
  background-color: #3a3e59;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}
.line1 {
  top: 0px;
  left: 0px;
}
.line2 {
  top: 13px;
  left: 0px;
  opacity: 1;
}
.line3 {
  bottom: 0px;
  left: 0px;
}
.ham.open .line1 {
  transform: rotate(45deg);
  top: 13px;
}
.ham.open .line2 {
  opacity: 0;
}
.ham.open .line3 {
  transform: rotate(-45deg);
  top: 13px;
}

@media (max-width: 1024px) {
  /* display hamburger menu */
  .ham {
    display: inline-block;
  }
  .links-container {
    display: none;
  }
  .logo {
    font-size: 25px;
  }

  /* menu list styling */
  .links-container {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #0d1b2a;
    width: 100%;
    flex-direction: column;
    right: 0;
    transition: 0.3s ease-in-out;
  }

  .contact {
    background-color: transparent;
    margin: 5px;
  }

  .contact:hover {
    box-shadow: none;
  }

  .link {
    margin: 5px;
  }
  .link a,
  .contact a {
    color: white;
    font-size: 15px;
    right: 0px;
  }
  .ham.open + .links-container {
    display: block;
  }
  .navbar {
    justify-content: space-between;
  }
}

/* Main */

#home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* padding: 2rem; */
  background-color: #0d1b2a;
  color: #e0e1dd;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-top: 5rem;
  height: 100vh;
}

.odd {
  background-color: #0d1b2a;
  color: #e0e1dd;
  padding: 5rem 2rem;
}

.even {
  padding: 6rem 2rem;
  background-color: #002e55;
}

.headerline {
  background-color: #4a6ee0;
  border: none;
  height: 1px;
  position: relative;
  top: 5rem;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

.home-content {
  margin-top: 5rem;
}

.home-content button {
  border: none;
  width: 8.5rem;
  height: 3rem;
  border-radius: 13px;
  margin: 5rem 2rem 0 0;
  transition: 0.2s ease-in-out;
}

.home-btn {
  background-color: #6244c5;
}

.home-btn-2 {
  background-color: transparent;
}

.home-btn-2:hover {
  transform: scaleX(1.1);
  background-color: #6244c5;
  box-shadow: var(--box_shadow);
}

.home-btn:hover {
  transform: scale(1.03);
  box-shadow: var(--box_shadow);
}

.home-content button a {
  text-decoration: none;
  color: #e0e1dd;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  padding: 13px 13px;
}

.home-btn a:hover {
  /* color: black; */
  font-weight: bold;
}

.home-title {
  font-size: 45px;
}

.home-title-2 {
  display: none;
}

.connections {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5rem 0 0 5px;
  width: 80%;
}

.connection-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-left: 4rem;
}

.connection-links li {
  list-style: none;
}

.connections__svg {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.follow {
  font-size: 18px;
}

.scroll_down {
  position: relative;
  bottom: -100px;
}

.to_top {
  position: fixed;
  bottom: 25px;
  right: 30px;
  /* padding: 1rem; */
  background-color: purple;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all display 0.3s;
  z-index: 3;
}

.to_top.display {
  display: flex;
}

.to_top > a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

@media screen and (max-width: 425px) {
  .logo {
    font-size: 20px;
  }

  .logo > img {
    width: 50px;
  }

  .home-title {
    font-size: 35px;
  }

  .home-text {
    font-size: 15px;
  }

  .home-btn-2 {
    margin: 5rem 0 0 0 !important;
  }

  .connections {
    margin-top: 3rem !important;
  }

  .connection-links {
    justify-content: space-between;
    width: 55%;
  }

  #about_me > svg {
    width: 15px;
  }

  .section-head {
    font-size: 25px !important;
  }

  .info {
    font-size: 13px !important;
    text-align: justify !important;
    font-weight: 500 !important;
  }

  section {
    padding-bottom: 2rem !important;
  }

  .contact__button button {
    padding: 0.7rem !important;
    width: 8rem !important;
    justify-content: space-around !important;
  }

  .contact__button a {
    font-size: 14px !important;
  }

  .prjct__info > h3 {
    font-size: 1rem !important;
  }

  .prjct_buttons > button {
    padding: 0.5rem !important;
    width: 6rem !important;
    justify-content: space-around !important;
  }

  .prjct_buttons a {
    font-size: 13px !important;
  }

  .skills {
    width: auto !important;
    grid-column-gap: 10px !important;
    margin: 0 !important;
  }

  .form__group > label {
    font-size: 13px !important;
  }

  .form__group > input,
  .form__group > textarea {
    font-size: 11px !important;
  }
}

/* ABOUT ME */

#aboutme {
  background-color: #002e55;
}

.l {
  display: none;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.section-head {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}

.section-head hr {
  width: 50px;
  border: 1px solid white;
  margin: 5px auto;
  height: 5px;
  background-color: white;
  border-radius: 15px;
}

.info {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.contact__button {
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.contact__button button {
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  background-color: #6244c5;
  transition: 0.4s ease-in-out;
  display: flex;
  width: 9rem;
  justify-content: space-between;
  align-items: center;
}

.contact__button button a {
  text-decoration: none;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: white;
}

.contact__button button:hover {
  transform: scale(1.1);
  box-shadow: #071c29 -15px 14px 2px 0px;
}

#white__svg {
  width: 22px;
}

/* PROJECTS */

.img-container {
  box-shadow: #415a77 0px 0px 20px 4px;
  display: flex;
  width: fit-content;
  margin: 3rem auto;
}

.img-container > img {
  width: 80vw;
}

.project-list {
  margin-top: 6rem;
}

.prjct {
  margin: 10rem 0;
}

.prjct:nth-child(3) {
  margin: 10rem 0 3rem 0;
}

.prjct__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.prjct_buttons {
  display: flex;
  justify-content: space-evenly;
}

.prjct_buttons button {
  width: 7rem;
  background-color: #6244c5;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.prjct_buttons button:hover {
  transform: scale(1.1);
  box-shadow: var(--box_shadow);
}

.prjct__info > p {
  font-size: 12px;
  opacity: 50%;
  margin-top: 1rem;
  text-align: center;
}

.prjct_buttons button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.see-more {
  display: flex;
  justify-content: center;
}

.see-more button {
  border: none;
  width: 8.5rem;
  height: 3rem;
  border-radius: 13px;
  /* margin: 5rem 2rem 0 0; */
  transition: 0.2s ease-in-out;
  background-color: transparent;
}

.see-more button:hover {
  background-color: #6244c5;
  /* box-shadow: var(--box_shadow); */
}

.see-more button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* SKILLS */

.skills {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5vw;
  grid-row-gap: 27px;
}

.skills__set {
  /* display: flex; */
  margin-top: 5rem;
}

.skills > .skill:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.skills > .skill:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.skills > .skill:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}

.skills > .skill:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}

.skills > .skill:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}

.skills > .skill:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}

.skills > .skill:nth-child(7) {
  grid-area: 3 / 2 / 4 / 3;
}

.skill {
  width: 6rem;
}

.skill > img {
  display: none;
}

.skill > button,
.more_skills > button {
  padding: 0.8rem;
  width: inherit;
  background-color: #6244c5;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

/* .skill > button:hover {
  transform: scale(1.05);
  /* box-shadow: #0d1b2a -11px 10px 0px 0px; */
/* } */

.more_skills {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
}

.form__group > label {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form__group > input {
  height: 3rem;
  border: none;
  background-color: #002e55;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: white;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
}

.form__group > textarea {
  border: none;
  background-color: #002e55;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: white;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
}

.form__group > input::placeholder,
.form__group > textarea::placeholder {
  color: white;
  font-weight: 600;
  opacity: 30%;
}

.form__group > input:focus,
.form__group > textarea:focus {
  outline: none;
  box-shadow: #4a6ee0 -6px 8px 0px 0px;
}

.form__group > textarea:focus {
  box-shadow: #4a6ee0 -6px 8px 0px 0px;
  padding-top: 12px;
}

.form__group > textarea::placeholder {
  padding-top: 12px;
}

.form__group > button {
  width: 30%;
  margin: 0 auto;
  padding: 0.6rem;
  background-color: #6244c5;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}

.form__group > button:hover {
  transform: scale(1.05);
  box-shadow: var(--box_shadow);
}

.contact__form {
  background: rgb(13, 33, 63);
  box-shadow: -25px 20px 0px #0000002e;
  padding: 1rem 2rem;
  border-radius: 44px;
  width: 30rem;
}
   

.mini-cards {
  display: none;
}

.contact-cards {
  display: flex;
  justify-content: space-around;
}



/* Footer */

footer {
  padding: 1rem 2rem !important;
}

.f_links {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.f_links > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 1rem;
  transition: 0.4s ease-in-out all;
}

.f_links > a:hover {
  /* color: #4a6ee0; */
  background-color: #0d1b2a;
  border-radius: 10px;
  box-shadow: #4a6ee0 -6px 6px 0px;
}

.f_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.f_logo > img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.f_logo > span > a {
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.section__topic > span,
.imp {
  color: #6244c5;
}

/* Media Queries */

@media screen and (min-width: 1024px) {
  .logo {
    font-size: 20px;
  }

  .logo > img {
    width: 45px;
  }

  .navbar {
    padding: 15px 25px;
    justify-content: space-between;
  }

  .navbar.shrink {
    padding: 5px 25px;
  }

  .logo.shrink {
    font-size: 19px;
  }

  .logo.shrink > img {
    width: 40px;
  }

  .aLink.shrink {
    font-size: 1rem !important;
  }

  .link.shrink::before {
    bottom: 10px;
  }

  .link:hover::before {
    width: 4rem;
  }

  .headerline {
    position: sticky;
    top: 4.5rem;
    height: 2px;
  }

  .links-container.shrink {
    width: 63vw;
  }

  .headerline.shrink {
    top: 3.2rem;
  }

  .home-title,
  .home-text {
    display: none;
  }

  .home-title-2 {
    display: block;
    text-align: center;
    font-size: 4vw;
  }

  .hero-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  .follow {
    display: none;
  }

  .links-container {
    justify-content: space-between;
    width: 65vw;
  }

  .connection-links {
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    bottom: 5rem;
    width: auto;
  }

  .connection-links li {
    margin-bottom: 2rem;
  }

  .connection-links li:last-child {
    margin-bottom: 0;
  }

  .connections__svg {
    background-color: none;
  }

  .home-content {
    margin: 0 auto;
    text-align: end;
  }

  .home-content button {
    margin: 0;
  }

  .home-btn-2 {
    background-color: #6244c5;
  }

  .scroll_down {
    bottom: -10%;
    right: -50%;
  }

  .section-head {
    font-size: 45px;
    margin-bottom: 8rem;
    font-weight: 900;
  }

  .contact {
    margin-left: 0;
  }

  .m {
    display: none;
  }

  .m-links {
    display: flex;
    justify-content: space-between;
  }

  .l {
    text-align: justify;
    width: 75%;
    margin: 4rem auto;
    font-weight: 700;
    font-size: 16px;
    display: block;
  }

  .contact__button {
    padding: 0;
  }

  .contact__button > button > a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
  }

  .prjct {
    margin: 0;
    padding: 10rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .img-container > img {
    width: 25vw;
    border-radius: 45px;
    filter: drop-shadow(-10px 12px 0px #6244c5);
  }

  .img-container {
    box-shadow: none;
    margin: 0rem 0;
  }

  .prjct__info {
    margin: 0;
    width: 28rem;
  }

  .prjct_buttons {
    margin-top: 3rem;
    justify-content: space-evenly;
  }

  .prjct__info > h3 {
    font-size: 21px;
    font-weight: 900;
  }

  .prjct__info > p {
    font-size: 14px;
    text-align: center;
    opacity: 50%;
    margin-top: 1rem;
  }

  .prjct:nth-child(2) {
    flex-direction: row-reverse;
  }

  .prjct:nth-child(2) > .img-container > img {
    filter: drop-shadow(10px 12px 0px #6244c5);
  }

  .prjct:nth-child(3) {
    margin: 0 !important;
  }

  .skill {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills {
    width: 69vw;
  }

  .skill > button {
    display: none;
  }

  .skill > img {
    display: block;
    width: 5rem;
  }

  .contact__form {
    width: 40%;
    padding: 1rem 2rem;
    background: rgb(13, 33, 63);
    box-shadow: -25px 20px 0px #0000002e;
    border-radius: 44px;
    height: 38rem;
  }

  .form__group > input {
    padding-left: 23px;
    background-color: #113666;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  .form__group > button {
    width: 35%;
    margin: 2rem auto;
  }

  .form__group > input::placeholder,
  .form__group > textarea::placeholder {
    opacity: 70%;
  }

  .form__group > label {
    font-size: 21px;
    font-weight: 900;
  }

  .form__group > textarea {
    background-color: #113666;
  }

  .form__group > input:focus,
  .form__group > textarea:focus {
    outline: none;
    /* box-shadow: #5f3a7d -6px 8px 0px 0px; */
  }

  .form__group {
    margin: 1rem auto;
  }

  .mini-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
  }

  .mcard {
    padding: 2rem;
    background: #0D213F;
    box-shadow: 15px 12px 0px #0000002e;
    border-radius: 30px;
  }

  .card-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-heading > img {
    width: 3.5rem;
  }

  .mcard > p {
    padding-top: 0.5rem;
    font-size: 13px;
    text-align: center;
    opacity: 80%;
    color: gray;
  }

  .card-heading > strong {
    font-size: 20px;
    padding-top: 1rem;
  }

  .f_links {
    max-width: 40%;
    margin: 0 auto;
  }

  .f_logo {
    margin: 1rem auto !important;
  }
}

@media screen and (min-width: 1600px) {
  .home-title-2 {
    font-size: 2.5vw;
  }

  .navbar.shrink {
    padding: 10px 25px;
  }

  .headerline.shrink {
    top: 4rem;
  }

  .aLink.shrink {
    font-size: 1.2rem !important
  }
  
  .links-container {
    width: 60vw;
  }

  .links-container.shrink {
    width: 60vw;
  }

  .l {
    font-size: 18px;
    width: 65%;
  }

  .prjct {
    padding: 10rem 0rem;
    justify-content: space-evenly;
  }

  .img-container > img {
    width: 25vw;
  }

  .prjct__info {
    width: 30rem;
  }

  .prjct__info > h3 {
    font-size: 22px;
    font-weight: 900;
  }

  .prjct__info > p {
    font-size: 15px;
    opacity: 50%;
    text-align: center;
    margin-top: 1rem;
  }

  .prjct_buttons {
    justify-content: space-evenly;
  }

  .contact__form {
    width: 30%;
  }

  .mcard {
    padding: 1.5rem;
  }

  .contact-cards {
    justify-content: space-evenly;
  }
}
